$blue: blue;
$gray: #E6E6E6;
$lightGray: #D8D8D8;
$mediumGray: #979797;
$darkGray: #616161;
$blackGray: #272822;
$primary: rgb(33,150,243);
$secondary: rgb(200,230,201);
$materialBlue: #792104;
$background: #F2F2F2;
$white: #ffffff;
$navbar: $materialBlue;
$navbarText: $white;
$subNavbar: $materialBlue;
$editorBackground: $blackGray;
$success: #c8e6c9;
$error: #ffa3a3;
$accentColor: rgba(4, 3, 5, 0.25);
$Tab: #333333;
$linkBlue: #427fed;
